:root {
  font-family: MicrosoftYaHei-Bold;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  width: 100%;
}
#app {
  height: 100%
}

.bt-1 {
  border-top: 1px solid rgba(222, 224, 232, 1);
}
.br-1 {
  border-right: 1px solid rgba(222, 224, 232, 1);
}
.bb-1 {
  border-bottom: 1px solid rgba(222, 224, 232, 1);
}
.bl-1 {
  border-left: 1px solid rgba(222, 224, 232, 1);
}

.n-data-table .n-data-table-th .n-data-table-resize-button::after {
  background-color: var(--n-th-text-color);
}